<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Home</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/hashtags">Hashtags</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/influenceurs">Influenceurs</a></li>
    </ul>
  </div>
</nav>