<meta charset="UTF-8" />
<title>Twitter Insight</title>
<!-- Compiled and minified CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
  nav {
    border-radius: 5px;
    margin-top: 1rem;
    width: 100%;
    background-color: rgb(21, 86, 226);
    font-size: large;
  }
  body { 
    color: rgb(63, 63, 63);
   }
</style>